body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #f0f0f0, #d8d8d8);
}
#chat-container {
    max-width: 400px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

#registro {
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 5px; /* Aquí se define el radio de borde */
    background-color: rgb(241, 221, 221); /* Se agrega un color de fondo opcional */
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#image-upload-container, #login-container {
    height: 280px;
    overflow-y: scroll;
    padding: 10px;
    background-color: #f2f2f2;
}

#chat-box {
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    background-color: #f2f2f2;
}

#input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-input {
    padding: 10px;
    border: none;
    border-top: 1px solid #ccc;
    border-radius: 5px;
}

#like-button {
    width: 1cm;
    color: rgb(43, 111, 247);
}

button {
    width: 75px;
    background-color: rgb(43, 111, 247);
    color: rgb(255, 255, 255);
    border: black;
    cursor: pointer;
    border-radius: 6px;
    margin-left: 6px;
}

button:hover {
    background-color: #3b57c7;
}

p {
    margin: 5px 0;
}

p strong {
    color: #857ae7;
}

/* Estilos para el título y botón de GitHub */
#title-container {
    text-align: center;
    margin-bottom: 20px;
}

#title-container h1 {
    font-size: 24px;
    color: #333;
}

.github-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.github-button i {
    margin-right: 10px;
}