<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    
    <div id="chat-container">
        <div id="chat-box">
            <!-- Mensaje de bienvenida del bot con token CSRF -->
            {% csrf_token %}
            <p><strong>Bot:</strong> Hola, soy Cosme Fulanito, el bot de servicio de ayuda. ¿En qué puedo ayudarte?</p>
            {% for bot_response in bot_responses %}
                <p><strong>Respuesta del bot:</strong> {{ bot_response.bot_response }}</p>
                <p><strong>Likes:</strong> {{ bot_response.likes }}</p>
                <button class="like-button" onclick="likeResponse('{{ bot_response.id }}')">Me gusta</button>
            {% endfor %}
        </div>
        <div id="user-input-container"> <!-- Contenedor para el campo de entrada y el botón -->
            <input type="text" id="user-input" placeholder="Escribe aquí..." onkeypress="handleKeyPress(event)">
            <button id="send-button" onclick="sendMessage()">Enviar</button>
        </div>
    </div>
    <!-- Formulario para cargar imágenes de huellas digitales -->
    <div id="chat-container">
        <h2>Login de huella digital</h2>
        <form id="image-upload-form" enctype="multipart/form-data" action="/process_fingerprint_images_web/" method="post">
            <p> Seleccione la imagen de su huella digital registrada</p>
            <input type="file" id="image-input" name="image" accept=".tif, .tiff">
            <button type="submit">Login</button>
        </form>
    </div>
    <div id="registro">
        <h1>Registro de Usuario</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Registrarse</button>
        </form>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>